<!doctype html>
<html lang="en">
  <head>
	<title>MK Green Roof</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E=" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
        html, body {font-family:'Source Sans Pro';}
        span {font-family: system-ui;}
        .box {width: 400px;}
        .dot {width: 12px; height: 12px; border-radius:6px; display: inline-block;top:2px; position:relative;}
    </style>
  </head>
  <body class="pb-4">
	<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">MK Green Roof</a>

            <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">

                    <button class="btn btn-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#exportModal">Export Data</button>
            </div>
          </div>
        </nav>
	</header>
	<main>

        <div class="alert alert-secondary d-flex justify-content-center">
            <div class="mx-3 text-center"><strong>Experiment Status</strong><br /> <span class="dot bg-{{experiment_status}}"></span> {{latest_date}}</div>
            <div class="mx-3 text-center"><strong>Ambient Status</strong><br /><span class="dot bg-{{ambient_status}}"></span> {{ambient_latest_date}}</div>
        </div>

        <div class="container text-center mt-5" style="">
            <h2 class="mb-0">Last Reading</h2>
            <h5 class="mb-5" style="color:#888">{{latest_date}} - {{latest.recieved_at}}</h5>

            <div class="d-flex justify-content-center">

                <div class="d-flex flex-column justify-content-end mx-4">
                    <div class="text-center mb-2 d-flex justify-content-between">
                        <span class="badge bg-primary"><i class="fas fa-tint"></i> {{latest.moist_s0}}</span>
                        <span class="badge bg-secondary">{{latest.green_roof_top|floatformat:0}} &#8451;</span>
                        <span class="badge bg-primary"><i class="fas fa-tint"></i> {{latest.moist_s1}}</span>
                    </div>
                    <div class="box border p-3 bg-success"></div>
                    <div class="text-center my-2"><span class="badge bg-secondary">{{latest.green_roof_middle|floatformat:0}} &#8451;</span></div>
                    <div class="box border p-3 bg-light"></div>
                    <div class="text-center mt-1"><span class="badge bg-secondary">{{latest.green_roof_bottom|floatformat:0}} &#8451;</span></div>
                </div>


                <div class="d-flex flex-column justify-content-end mx-4">
                    <div class="text-center my-2"><span class="badge bg-secondary">{{latest.control_top|floatformat:0}} &#8451;</span></div>
                    <div class="box border p-3 bg-light mt-1"></div>
                    <div class="text-center mt-1"><span class="badge bg-secondary">{{latest.control_bottom|floatformat:0}} &#8451;</span></div>
                </div>

            </div>

        </div>

        <div class="my-5 container" style="">
            <h2 class="text-center mb-5">Last 24 Hours</h2>
            <canvas id="experiment-chart" width="1000" height="300"></canvas>
            <hr class="my-5"/>
            <canvas id="ambient-chart" width="1000" height="300"></canvas>
        </div>


        <div class="modal" tabindex="-1" id="exportModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Export Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/export/" id="export-form" method="get">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="data" id="flexRadioDefault1" value="experiment" checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                            Experiment Data
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="data" id="flexRadioDefault2" value="ambient">
                          <label class="form-check-label" for="flexRadioDefault2">
                            Ambient Data
                          </label>
                        </div>

                    <div class="form-group mt-3">
                      <label for="" class="form-label">Date:</label>
                      <div class="d-flex">
                      <input type="date" class="form-control ms-1" name="from" required>
                      <input type="date" class="form-control ms-1" name="to" required>
                      </div>
                    </div>

                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="export-form" class="btn btn-primary">Export</button>
              </div>
            </div>
          </div>
        </div>


	</main>
	<footer>

	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://kit.fontawesome.com/e17490b401.js" crossorigin="anonymous"></script>
    <script>


    var s1 = {
      label: 'Green Roof Middle',
      borderColor: 'rgba(0,204, 0, 1)',
      backgroundColor: 'rgba(0,204, 0, 1)',
      pointRadius: 0,
      data: [
      {% for d in green_roof_middle %}
      {% if d.green_roof_middle %}
          { x: '{{d.recieved_at|date:"Y-m-d H:i:s"}}', y: {{d.green_roof_middle}} },
      {% endif %}
      {% endfor %}
      ]
    };

    var s2 = {
      label: 'Concrete Top',
      borderColor: 'grey',
      backgroundColor: 'grey',
      pointRadius: 0,
      data: [
      {% for d in control_top %}
          {% if d.control_top %}
              { x: '{{d.recieved_at|date:"Y-m-d H:i:s"}}', y: {{d.control_top}} },
          {% endif %}
      {% endfor %}
      ]
    };

    var s3= {
      label: 'Green Top',
      borderColor: 'rgba(0,204, 0, 0.3)',
      backgroundColor:'rgba(0,204, 0, 0.3)',
      pointRadius: 0,
      data: [
      {% for d in green_roof_top %}
      {% if d.green_roof_top %}
          { x: '{{d.recieved_at|date:"Y-m-d H:i:s"}}', y: {{d.green_roof_top}} },
      {% endif %}
      {% endfor %}
      ]
    };

    var ctx = document.getElementById('experiment-chart');
    var experimentChart = new Chart(ctx, {
        type: 'line',

      data: {
        datasets: [s1, s2, s3] },
        options: {
            scales: {
                x: {
                    type: 'timeseries',
                }
            },
        }
    });


        var r1 = {
          label: 'Ambient - Red 1',
          borderColor: 'rgba(200,0, 0,1)',
          backgroundColor: 'rgba(200,0, 0, 1)',
          pointRadius: 0,
          data: [
          {% for d in red1 %}
                {% if d.temperature %}
              { x: '{{d.recorded_at|date:"Y-m-d H:i:s"}}', y: {{d.temperature}} },
              {% endif %}
          {% endfor %}
          ]
        };

        var r2 = {
          label: 'Ambient - Red 2',
          borderColor: 'rgba(200,0, 0, 0.7)',
          backgroundColor: 'rgba(200,0, 0, 0.7)',
          pointRadius: 0,
          data: [
          {% for d in red2 %}
                {% if d.temperature %}
              { x: '{{d.recorded_at|date:"Y-m-d H:i:s"}}', y: {{d.temperature}} },
              {% endif %}
          {% endfor %}
          ]
        };

        var r3= {
          label: 'Ambient - Red 3',
          borderColor: 'rgba(200,0, 0, 0.3)',
          backgroundColor:'rgba(200,0, 0, 0.3)',
          pointRadius: 0,
          data: [
          {% for d in red3 %}
                {% if d.temperature %}
              { x: '{{d.recorded_at|date:"Y-m-d H:i:s"}}', y: {{d.temperature}} },
              {% endif %}
          {% endfor %}
          ]
        };

        var ctx = document.getElementById('ambient-chart');
        var ambientChart = new Chart(ctx, {
            type: 'line',

          data: {
            datasets: [r1,r2,r3] },
            options: {
                scales: {
                    x: {
                        type: 'timeseries',
                    }
                },
            }
        });

    </script>


    <div class="text-muted text-center">
        Questions/Problems:<br />
        <a href="mailto:greenroof@stevenwaterfall.com">greenroof@stevenwaterfall.com</a>
    </div>


  </body>
</html>
